@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  background-color: #112643;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
}

/* Regla para evitar que el logo se vea gigante si el CSS tarda en cargar */
img {
  max-width: 100%;
  height: auto;
}
